ServiceSamples/TLSConsoleApplication/Connected Services/ServiceReference1/cnaABRMIntegrationServiceGroup.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://litdev01638b941a282a7c8fdevaos.cloudax.dynamics.com/soap/services/cnaABRMIntegrationServiceGroup?xsd=xsd2" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="https://litdev01638b941a282a7c8fdevaos.cloudax.dynamics.com/soap/services/cnaABRMIntegrationServiceGroup?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" />
      <xsd:import schemaLocation="https://litdev01638b941a282a7c8fdevaos.cloudax.dynamics.com/soap/services/cnaABRMIntegrationServiceGroup?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://litdev01638b941a282a7c8fdevaos.cloudax.dynamics.com/soap/services/cnaABRMIntegrationServiceGroup?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://litdev01638b941a282a7c8fdevaos.cloudax.dynamics.com/soap/services/cnaABRMIntegrationServiceGroup?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
      <xsd:import schemaLocation="https://litdev01638b941a282a7c8fdevaos.cloudax.dynamics.com/soap/services/cnaABRMIntegrationServiceGroup?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="https://litdev01638b941a282a7c8fdevaos.cloudax.dynamics.com/soap/services/cnaABRMIntegrationServiceGroup?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.KernelInterop" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ValidateDateDimensions">
    <wsdl:part name="parameters" element="tns:ValidateDateDimensions" />
  </wsdl:message>
  <wsdl:message name="ValidateDateDimensions_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="ValidateDateDimensionsResponse">
    <wsdl:part name="parameters" element="tns:ValidateDateDimensionsResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateDateDimensionsResponse_Headers">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q2:Infolog" />
  </wsdl:message>
  <wsdl:message name="ABRM_ValidateDateDimensions_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q3:Fault" />
  </wsdl:message>
  <wsdl:message name="PostJournal">
    <wsdl:part name="parameters" element="tns:PostJournal" />
  </wsdl:message>
  <wsdl:message name="PostJournal_Headers">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q4:CallContext" />
  </wsdl:message>
  <wsdl:message name="PostJournalResponse">
    <wsdl:part name="parameters" element="tns:PostJournalResponse" />
  </wsdl:message>
  <wsdl:message name="PostJournalResponse_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q5:Infolog" />
  </wsdl:message>
  <wsdl:message name="ABRM_PostJournal_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q6:Fault" />
  </wsdl:message>
  <wsdl:portType name="ABRM">
    <wsdl:operation name="ValidateDateDimensions">
      <wsdl:input wsam:Action="http://tempuri.org/ABRM/ValidateDateDimensions" name="ValidateDateDimensions" message="tns:ValidateDateDimensions" />
      <wsdl:output wsam:Action="http://tempuri.org/ABRM/ValidateDateDimensionsResponse" name="ValidateDateDimensionsResponse" message="tns:ValidateDateDimensionsResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/ABRM/Fault" name="SoapServiceFaultFault" message="tns:ABRM_ValidateDateDimensions_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostJournal">
      <wsdl:input wsam:Action="http://tempuri.org/ABRM/PostJournal" name="PostJournal" message="tns:PostJournal" />
      <wsdl:output wsam:Action="http://tempuri.org/ABRM/PostJournalResponse" name="PostJournalResponse" message="tns:PostJournalResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/ABRM/Fault" name="SoapServiceFaultFault" message="tns:ABRM_PostJournal_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>