ServiceSamples/SoapConsoleApplication/Connected Services/CnaAbrmIntigrationServiceReference/cnaABRMIntegrationServiceGroup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://litdev01638b941a282a7c8fdevaos.cloudax.dynamics.com/soap/services/cnaABRMIntegrationServiceGroup?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
  <xs:element name="ValidateDateDimensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_validationContracts" nillable="true" type="q1:ArrayOfcnaABRMValidationContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateDateDimensionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q2:cnaABRMResultContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostJournal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_headerContract" nillable="true" type="q3:cnaABRMLedgerJournalTableContract" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="_lineContracts" nillable="true" type="q4:ArrayOfcnaABRMLedgerJournalTransContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostJournalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" minOccurs="0" name="result" nillable="true" type="q5:cnaABRMResultContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>